* {
    margin: 0%;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
 

.cabeçalho1{
    box-shadow: 0 0 50px #294ebbd0 ;
    height: 200px;
    opacity: 0.8;
}

div {
    margin-bottom: 50px;       /*separar as div's*/
}

nav {
 background-color:#05123bad; 
    text-align: center;     /*organizar e dar cor a barra de menu*/
    padding: 7px;
}

nav a {
    color: white;
    font-size: 18px;    /*tamanho da fonte*/
    font-family: 'Courier New', Courier, monospace;  /*fonte do texto*/
    text-decoration: none; /*tirar a barrinha debaixo dos menus links*/
    margin: 20px;
    transition: color 0.5s;
    transition: font-size 0.3s;
}

nav a:hover {
    color:#4b6ac5;          /*animação*/
    font-size: 23px;
}



section {
    box-shadow: 0 0 80px  #0544ff65 ;
    height: 290px;
    margin-top: 90px;

}

.card {
    display: flex;    /*deixar fotos lado a lado*/
    justify-content: center;
    align-items: center;   /*centralizar fotos*/
}

.um{
    width: 220px;
    margin-right: 210px;
    border-radius: 15px;
 }

.dois{
    width: 220px;
    margin-right: 210px;
    border-radius: 15px;
}

.tres{
    width: 220px;
    border-radius: 15px;
}

.card a{
    font-size:80px;
    transition: font-size;
}                              /*transição das fotos*/
.card a:hover {
    font-size: 150px;
}

.vermais{
    margin-top: 100px;
    text-align: center;
   
}

button {
   padding: 15px 60px;
   background-color: rgb(6, 6, 110);
   color: white;
   border-radius: 15px;
}

button:hover{
    background-color:rgba(6, 6, 110, 0.658) ;
    font-size:medium;
}



.umm{
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
}


.cabeçalho2 img{
    opacity: 0.5;    /*transparencia na foto*/
    height: 220px;
    margin-top: 14px;
    
}




.gene{
    margin: auto;
    width: 140px;
    height: 35px;
    font-size: 18px;
    border-radius: 15px;
    background-color: rgb(6, 6, 110);
    color: white;

}


.generos{
    display: flex;            
    justify-content: center;
    align-items: center;  
    margin-top: -150px; 
}

.butao{
   padding: 30px 60px;
   margin-right: 40px;
   background-color:  rgb(12, 12, 90);
   color: white;
   border-radius: 15px;
   transition: color 0.5s;

}


.butao :hover{
    background-color: rgba(0, 0, 139, 0.801);
}



footer {
  background-color: #05123bad;  /* Cor de fundo */
  padding: 20px;  /* Espaçamento interno */
  text-align: center;  /* Alinhamento do texto */
}

footer p {
  color:white; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
}






@media (max-width: 600px) {

  body {
    background-color:white;
  }

}

